spring:
  application:
    name:
      EvaluationExpert
  datasource:
    url: jdbc:mysql://localhost:13306/evaluation_expert?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
  ai:
    openai:
      # embedding model configuration
      api-key: ${CHAT_GLM_API_KEY}
      base-url: https://open.bigmodel.cn/api/paas
      embedding:
        options:
          model: embedding-3
          dimensions: 1024
        embeddings-path: /v4/embeddings
  elasticsearch:
    uris: http://localhost:9200

