<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smartcourse.mapper.ExamClassMapper">

    <update id="replaceExamClasses">
        DELETE FROM evaluation_expert.exam_class
        WHERE exam_id = #{examId};
        <if test="classIds != null and classIds.size() > 0">
            INSERT INTO evaluation_expert.exam_class (exam_id, class_id)
            VALUES
            <foreach collection="classIds" item="classId" separator=",">
                (#{examId}, #{classId})
            </foreach>
        </if>
    </update>

</mapper>
