<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcourse.mapper.LearningGuideMapper">
    <select id="getAnalytics" resultType="com.smartcourse.pojo.vo.learn.TaskCompletionSummaryVO">
        SELECT e.id         AS taskId,
               e.name       AS taskName,
               COUNT(s.id)  AS submittedCount,
               AVG(s.score) AS averageScore
        FROM evaluation_expert.assignment e
                 LEFT JOIN evaluation_expert.assignment_score s ON e.id = s.assignment_id
        WHERE e.course_id = #{courseId}
        GROUP BY e.id
    </select>

    <select id="getExamStatistics" resultType="com.smartcourse.pojo.vo.learn.ExamStatisticsVO">
        SELECT COUNT(e.id)                                                                    AS totalExams,
               COUNT(es.id)                                                                   AS completedExams,
               SUM(IF(es.total_score >= e.pass_score AND es.total_score IS NOT NULL, 1,
                      0))                                                                     AS passedExams,
               SUM(IF(es.total_score &lt; e.pass_score AND es.total_score IS NOT NULL, 1, 0)) AS failedExams,
               AVG(es.total_score)                                                            AS averageScore
        FROM evaluation_expert.exam e
                 LEFT JOIN evaluation_expert.exam_score es on e.id = es.exam_id And es.student_id = #{studentId}
        WHERE e.course_id = #{courseId}
        GROUP BY e.course_id
    </select>

    <select id="getPerformance" resultType="com.smartcourse.pojo.vo.learn.StudentCoursePerformanceVO">
        SELECT exam.course_id,
               c.name                                AS courseName,
               count(es.id) * 100.0 / COUNT(exam.id) AS completionRate,
               AVG(es.total_score)                   AS averageScore
        FROM evaluation_expert.exam
                 LEFT JOIN evaluation_expert.exam_score es on exam.id = es.exam_id AND es.student_id = #{studentId}
                 LEFT JOIN evaluation_expert.course c on exam.course_id = c.id
        WHERE exam.course_id = #{courseId}
        GROUP BY exam.course_id, c.name
    </select>

    <select id="getTaskList" resultType="com.smartcourse.pojo.vo.learn.StudentTaskVO">

    </select>

    <select id="getVideoMap" resultType="com.smartcourse.pojo.entity.VideoProgress">
        select *
        from evaluation_expert.t_video_progress
        where student_id = #{studentId}
          and course_id = #{courseId}
    </select>

    <select id="getStudents" resultType="com.smartcourse.pojo.vo.learn.StudentVO">
        select id, name
        from evaluation_expert.student
        where class_id = #{classId}
    </select>
</mapper>