<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smartcourse.mapper.QuestionOptionMapper">
    <insert id="insertBatch">
        insert into question_option (question_id, content, correct, sort_order)
        values <foreach collection="options" item="o" separator=",">
            (#{o.questionId}, #{o.content}, #{o.correct}, #{o.sortOrder})
        </foreach>
    </insert>
</mapper>